/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/open-sans-v18-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/open-sans-v18-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: white;
  background: rgb(41, 41, 41);
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1200px) {
  .wrapper {
    max-width: 970px;
  }
}

@media (max-width: 992px) {
  .wrapper {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    max-width: none;
  }
}

@media (max-width: 550px) {
  .wrapper {
    max-width: none;
  }
  .code {
    max-width: 100%;
  }
}

.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
}

.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(216, 30, 175);
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

.menu {
  position: fixed;
  top: 140px;
  left: 600px;
  width: 100%;
  height: 100%;
  padding: 15px;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.menu.active {
  transform: translateX(0);
}

.menu-btn.active span:first-of-type {
  opacity: 0;
}

.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.decor {
  margin: 0;
  width: 100%;
  height: 100px;
  background: url(./image/footer1.jpeg);
}

.decor_footer {
  margin: 0;
  width: 100%;
  height: 100px;
  background: url(./image/header1.jpeg);
}

.header_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.header_item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.header_item:last-child {
  margin-right: 0;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none; /* Прячем исходные маркеры */
}
li:before {
  color: rgb(216, 30, 175); /* Цвет маркера */
  content: "=>"; /* Сам маркер */
  padding-right: 4px; /* Расстояние от маркера до текста */
}

b {
  color: darkgreen;
}

.avatarka {
  margin: 30px;
  margin-left: 20px;
  width: 250px;
  border-radius: 150px;
  float: left;
}
h1 {
  margin-left: 20px;
  font-weight: 100;
  letter-spacing: 3px;
}

h2 {
  color: rgb(255, 254, 254);
  font-size: 200%; /* Размер шрифта */
  border-bottom: 2px solid #069eb3; /* Параметры линии под текстом */
  font-weight: normal; /* Убираем жирное начертание */
  padding-bottom: 5px; /* Расстояние от текста до линии */
  letter-spacing: 3px;
}

.heading {
  color: rgb(255, 254, 254);
  font-size: 200%;
  border-bottom: 2px solid #069eb3;
  font-weight: normal;
  padding-bottom: 5px;
  letter-spacing: 3px;
}

.project_name {
  font-size: 150%;
  border-bottom: 2px solid rgb(216, 30, 175);
}

.projects_wrapper {
  text-align: center;
}

.project_img {
  width: 100%;
}

.footer_wrapper {
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 2px solid #069eb3; /* Параметры линии под текстом */
}

.footer_list {
  display: flex;
  flex-wrap: wrap;
}

.footer_item {
  margin-right: 150px;
  margin-bottom: 20px;
}

.footer_item:last-child {
  margin-right: 0;
}
